.about {
    text-align: center;
    
    .banner{
        position: relative;
        max-width: 1200px;
        margin: auto;
        padding-top: 89px;
        z-index: 1;
        height: 100%;
        img{
            width: 100%;
        }

        h1 {
            margin: 100px;
        }
    }

    h1, h3 {
        font-family: $logo;
    }

    h2 {
        font-family: $heading;
    }

    p {
        font-family: $body;
    }

    main {
        padding: 20px 10px;
        max-width: 1000px;
        margin: auto;
    }

    .about {
        margin-bottom: 50px;
        h1 {
            margin-bottom: 50px;
        }
    }

    .mission {
        margin-bottom: 50px;
        h3 {
            margin: 50px;
        }
    }

    .welcome p {
        margin-bottom: 20px;
    }

    .staff {
        margin-bottom: 50px;
        p {
            padding-top: 20px;
        }
    }

    .social {
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (min-width: 500px) {
        .row-1, .row-2 {
            display: flex;
        }

        .row-1 article, .row-2 article {
            margin: 10px;
        }
    }

    @media (min-width: 1000px) {
        .staff {
            display: flex;
        }

        .row-1, .row-2 {
            article {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        h3 {
            margin: 0;
            margin-top: 10px;
        }
    }
}