//Header styles
header {
    width: 100%;
    background-color: $main-bg;
    color: white;
    font-family: $logo;
    font-weight: 300;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h1 {
        grid-column: 2/3;
        padding: 5px 0 15px 0;
    }
    ul {
        list-style: none;
        text-decoration: none;
        padding-top: 3px;
        li {
            transition: 0.5s ease;
            padding: 4px;
            display: block;
        }
        li:hover {
            transform: translateY(-2px);
        }
    }
    
    a {
        text-decoration: none;
        color: white;
        font-family: $heading;
        font-weight: 400;
        font-size: 20px;
    }
    .bar1, .bar2, .bar3 {
        display: block;
        height: 3px;
        width: 25px;
        margin: 6px auto;
        background: white;
        justify-content: right;
        transition: 0.4s;
      }
    .menu-btn {
        padding: 6px 0 0 0;
        grid-column: 3/4;
        justify-self: right;
        display: inline-block;
        cursor: pointer;
    }
    .menu-options {
        grid-column: 2/3;
        display: none;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-3px, 5px) ;
        transform: rotate(-45deg) translate(-4px, 5px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }

}

.show .menu-options {
    display: block;
}

@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
  