.homepage {
main {
    padding: 20px 10px;
    max-width: 1000px;
    margin: auto;
}

//Hero banner
.banner{
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-top: 89px;
    z-index: 1;
    height: 100%;
    img{
        width: 100%;
    }

    //Text over banner
    p {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.849);
        padding: 10px;
        min-width: 250px;
        max-width: 800px;
        font-family: $logo;
        font-weight: 400;
        font-size: 16px;
        color: $main-bg;
        text-align: center;
        margin: auto;
        z-index: 2;
    }
}

//media queries for banner
@media (min-width: 700px){
    .banner {
        img {
            display: none;
        }
        height: 380px;
        //Scroll over image
        background-image: url("../images/home-banner.jpg");
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

@media (min-width: 950px){
    .banner {
        height: 500px;
    }
}

//Section titles
main {
    h2 {
    font-family: $heading;
    font-weight: 400;
    color: white;
    background-color: $main-bg;
    padding-top: 25px;
    height: 80px;
}
    p {
        font-family: $body;
        line-height: 1.5em;
    }
}

//What's new section
.news {
    text-align: center;
    font-size: 16px;
    margin: auto;
    p {
        margin: 10px auto 25px auto;
        max-width: 450px;
    }
    a {
        text-decoration: none;
        font-family: $body;
        color: white;
        padding: 8px 15px;
        background-color: $main-bg;
    }
    img {
        padding: 10px 0;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
    .details:hover {
        transition: 0.5s;
        background-color: rgb(69, 105, 223);
    }
}

//Slideshow styles
//Slideshow container
.slideshow-container {
    padding-top: 30px;
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: auto;
}

//Hide images by default
.myslides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 22%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    left: 84%;
    border-radius: 3px 0 0 3px;
  }
.prev {
    left: 7%;
}

@media (min-width: 1000px){
    .next {
        left: 74%;
      }
    .prev {
        left: 22%;
    }
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: #717171;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

//Different menu navigation
.menu-row {
    margin-top: 30px;
    text-align: center;
    
    .menu-box{
        position: relative;
        margin-top: 30px;
    }
    
    img {
        margin-top: 10px;
        width: 100%;
        z-index: 2;
    }
    .menu h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.425);
        width: 100%;
        height: 100px;
        font-size: 25px;
        padding-top: 30px;
    }
}

@media (min-width: 580px){
    .banner p {
        top: 55%;
        left: 50%;
    }
}

@media (min-width: 650px){
    .menu-flex {
        display: flex;
    }
    .menu-box:not(:last-child){
        margin-right: 10px;
    }
}

@media (min-width: 1000px){
    .wrapper {
        padding-top: 135px;
        padding-bottom: 80px;
    }
}
}