.submit {
    font-family: $font-family-3;
    border: none;
    color: $second-color;
    background-color: $first-color;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    font-size: 16px;
    padding: 10px 30px;
}

form {
    background-color: $second-color;
    color: $first-color;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    font-family: $font-family-3;
    line-height: 32px;
}

header, h1 {
    font-family: $font-family-1;
}

form h1 {
    font-family: $font-family-2;
    text-align: center;
}

form li {
    list-style: none;
}

@media (min-width: 600px) {
    form {
        width: 70%;
        padding: 30px;
        line-height: 36px;
    }
}

@media (min-width: 900px) {
    form {
        width: 60%;
        line-height: 42px;
    }
}