.reservations-page, .menu-page{
    .submit {
        font-family: $font-family-3;
        border: none;
        color: $second-color;
        background-color: $first-color;
        border-radius: 20px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding: 10px 30px;
        margin-bottom: 30px;
    }

    form {
        background-color: $second-color;
        color: $first-color;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        border-radius: 20px;
        font-family: $font-family-3;
        line-height: 40px;
        animation: fadeIn ease 2s, mymove 5s infinite;;
        -webkit-animation: fadeIn ease 2s;
        -moz-animation: fadeIn ease 2s;
        -o-animation: fadeIn ease 2s;
        -ms-animation: fadeIn ease 2s;
    }
    
    .wrapper {
        ul, li {
        padding: 0;
        margin: 0 auto;
        }
    } 
       

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    } 


    header, h1 {
        font-family: $font-family-1;
    }

    form h1 {
        font-family: $font-family-2;
        text-align: center;
    }

    form li {
        list-style: none;
    }

    p {
        text-align: center;
    }

    .name, .quantity {
        font-family: $font-family-3;
        margin-left: 10px;
    }

    input[type=text]:focus {
        border: 2px solid $first-color;
        border-radius: 4px;
    }

    input[type=number]:focus {
        border: 2px solid $first-color;
        border-radius: 4px;
    }

    .name {
        width: 80%;
    }

    @media (min-width: 600px) {
        form {
            line-height: 40px;
            padding: 10px;
            margin: 0 auto;
        }

        .name {
            width: 50%;
        }
    }

    @media (min-width: 900px) {
      
            
            .wrapper {
                padding-top: 60px;
            }
            
    }
}