//Theme Colour
$main-bg: #19559F;

//Text colour
$tc: white;

//Fonts
//Link in your html <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Amiko|Montserrat:300&display=swap" rel="stylesheet">
$logo: 'Montserrat', sans-serif; //font weight:300
$heading: 'Alegreya Sans', sans-serif; //Font weights 300 (thin) and 400 (regular)
$body: 'Amiko', sans-serif;