body, nav, ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

header {
  width: 100%;
  background-color: #19559F;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Fade out the second bar */
  /* Rotate last bar */
}
header h1 {
  grid-column: 2/3;
  padding: 5px 0 15px 0;
}
header ul {
  list-style: none;
  text-decoration: none;
  padding-top: 3px;
}
header ul li {
  transition: 0.5s ease;
  padding: 4px;
  display: block;
}
header ul li:hover {
  transform: translateY(-2px);
}
header a {
  text-decoration: none;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
header .bar1, header .bar2, header .bar3 {
  display: block;
  height: 3px;
  width: 25px;
  margin: 6px auto;
  background: white;
  justify-content: right;
  transition: 0.4s;
}
header .menu-btn {
  padding: 6px 0 0 0;
  grid-column: 3/4;
  justify-self: right;
  display: inline-block;
  cursor: pointer;
}
header .menu-options {
  grid-column: 2/3;
  display: none;
}
header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 5px);
  transform: rotate(-45deg) translate(-4px, 5px);
}
header .change .bar2 {
  opacity: 0;
}
header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.show .menu-options {
  display: block;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.homepage main {
  padding: 40px 10px;
  max-width: 800px;
  margin: auto;
}
.homepage .banner {
  background-color: #19559F;
}
.homepage .banner img {
  width: 100%;
}
.homepage .banner p {
  padding: 10px;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: auto;
}
.homepage h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  color: white;
  background-color: #19559F;
}
.homepage p {
  font-family: "Amiko", sans-serif;
  line-height: 1.5em;
}
.homepage .news {
  text-align: center;
  border: 1px solid black;
  padding: 10px 10px 20px 10px;
  font-size: 16px;
  margin: auto;
}
.homepage .news p {
  margin: 10px auto 25px auto;
  max-width: 450px;
}
.homepage .news a {
  text-decoration: none;
  font-family: "Amiko", sans-serif;
  color: white;
  padding: 8px 15px;
  background-color: #19559F;
}
.homepage .news img {
  padding: 10px 0;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.homepage .menu-row {
  margin-top: 30px;
  text-align: center;
}
.homepage .menu-row .menu {
  position: relative;
}
.homepage .menu-row img {
  margin-top: 20px;
  z-index: 2;
}
.homepage .menu-row .menu h2 {
  position: absolute;
  z-index: 5;
  background-color: #19559F;
}

.menu-page body, .reservations-page body {
  background-color: #19559F;
}
.menu-page header, .reservations-page header {
  font-family: "Montserrat", sans-serif;
}
.menu-page img, .reservations-page img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.menu-page .wrapper, .reservations-page .wrapper {
  background-color: white;
  color: #19559F;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  animation: fadeIn ease 2s, mymove 5s infinite;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.menu-page ul, .reservations-page ul {
  padding: 0;
}
.menu-page li, .reservations-page li {
  text-align: center;
}
.menu-page li p, .reservations-page li p {
  font-size: 14px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-page .wrapper h1, .menu-page h2, .reservations-page .wrapper h1, .reservations-page h2 {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}
.menu-page .wrapper li, .menu-page p, .reservations-page .wrapper li, .reservations-page p {
  font-family: "Amiko", sans-serif;
}
.menu-page td:first-child::after, .reservations-page td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1500px;
  height: 0px;
  margin-left: 1em;
  border-bottom: 2px dotted grey;
}
.menu-page .wrapper li, .reservations-page .wrapper li {
  list-style: none;
}
@media (min-width: 600px) {
  .menu-page img, .reservations-page img {
    width: 60%;
  }
  .menu-page .wrapper, .reservations-page .wrapper {
    width: 70%;
    padding: 30px;
  }
}
@media (min-width: 900px) {
  .menu-page img, .reservations-page img {
    width: 32.5%;
    margin: 0 auto;
    display: inline-flex;
    flex: 1;
  }
  .menu-page .wrapper, .reservations-page .wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .menu-page .desserts, .reservations-page .desserts {
    padding-top: 20px;
    column-count: 2;
  }
}
@media (min-width: 1000px) {
  .menu-page .desserts, .reservations-page .desserts {
    column-count: 3;
  }
}
@media (min-width: 1700px) {
  .menu-page img, .reservations-page img {
    width: 33%;
  }
}

.reservations-page .submit, .menu-page .submit {
  font-family: "Amiko", sans-serif;
  border: none;
  color: white;
  background-color: #19559F;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 10px 30px;
}
.reservations-page form, .menu-page form {
  background-color: white;
  color: #19559F;
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  font-family: "Amiko", sans-serif;
  line-height: 40px;
  animation: fadeIn ease 2s, mymove 5s infinite;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.reservations-page ul, .menu-page ul {
  padding: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.reservations-page header, .reservations-page h1, .menu-page header, .menu-page h1 {
  font-family: "Montserrat", sans-serif;
}
.reservations-page form h1, .menu-page form h1 {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}
.reservations-page form li, .menu-page form li {
  list-style: none;
}
.reservations-page p, .menu-page p {
  text-align: center;
}
.reservations-page .name, .reservations-page .quantity, .menu-page .name, .menu-page .quantity {
  font-family: "Amiko", sans-serif;
  margin-left: 10px;
}
.reservations-page input[type=text]:focus, .menu-page input[type=text]:focus {
  border: 2px solid #19559F;
  border-radius: 4px;
}
.reservations-page input[type=number]:focus, .menu-page input[type=number]:focus {
  border: 2px solid #19559F;
  border-radius: 4px;
}
.reservations-page .name, .menu-page .name {
  width: 80%;
}
@media (min-width: 600px) {
  .reservations-page form, .menu-page form {
    width: 70%;
    padding: 30px;
    line-height: 40px;
  }
  .reservations-page .name, .menu-page .name {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .reservations-page form, .menu-page form {
    width: 50%;
    line-height: 48px;
  }
  .reservations-page .name, .menu-page .name {
    width: 35%;
  }
}

/*# sourceMappingURL=styles.css.map */
