body, nav, ul, h1, h2, p {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0; }

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
  color: #19559F;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.377);
  /* Fade out the second bar */
  /* Rotate last bar */ }
  header .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto; }
  header h1 {
    grid-column: 2/3;
    padding: 5px 0 15px 0; }
    header h1 a {
      text-decoration: none;
      color: #19559F; }
  header ul {
    list-style: none;
    text-decoration: none;
    padding-top: 3px; }
    header ul li {
      transition: 0.5s ease;
      padding: 4px;
      display: block; }
    header ul li:hover {
      transform: translateY(-2px); }
  header nav a, header .lang-select a {
    text-decoration: none;
    color: #19559F;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-size: 20px; }
  header .bar1, header .bar2, header .bar3 {
    display: block;
    height: 3px;
    width: 25px;
    margin: 6px auto;
    background: #19559F;
    justify-content: right;
    transition: 0.4s; }
  header .menu-btn {
    padding: 7px 10px 0 0;
    grid-column: 3/4;
    justify-self: right;
    display: inline-block;
    cursor: pointer; }
  header .menu-options {
    grid-column: 2/3; }
  @media (max-width: 1000px) {
    header .menu-options {
      display: none; } }
  header .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 5px);
    transform: rotate(-45deg) translate(-4px, 5px); }
  header .change .bar2 {
    opacity: 0; }
  header .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.show .menu-options {
  display: block; }

@media (min-width: 1000px) {
  #menu-btn {
    display: none; }

  header h1 {
    padding-bottom: 4px; }

  .menu-options {
    display: block; }
    .menu-options ul {
      display: flex;
      width: 1000px;
      justify-content: center;
      margin-top: 5px; }
      .menu-options ul li {
        padding: 0 10px; } }
footer {
  padding: 20px 20px;
  background-color: #19559F;
  color: white;
  text-align: center; }
  footer h1 {
    font-family: "Montserrat", sans-serif; }
  footer h2 {
    padding: 0 0 5px 0;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-size: 20px; }
  footer h3 {
    padding: 0 0 5px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0; }
  footer p {
    font-size: 16px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500; }
  footer .box {
    margin: 10px; }
  footer .site-map {
    padding-top: 10px; }
  footer a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-size: 16px; }
  footer address {
    font-style: normal;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500; }
  footer .s-media-icons {
    display: flex;
    justify-content: center; }
    footer .s-media-icons a {
      display: block; }
  @media (min-width: 700px) {
    footer {
      display: flex;
      justify-content: space-around; }
      footer .site-map {
        display: block;
        margin-top: 0; }
      footer .site-map h1 {
        text-align: center;
        padding-bottom: 20px; } }

.homepage main {
  padding: 20px 10px;
  max-width: 1000px;
  margin: auto; }
.homepage .banner {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding-top: 89px;
  z-index: 1;
  height: 100%; }
  .homepage .banner img {
    width: 100%; }
  .homepage .banner p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.849);
    padding: 10px;
    min-width: 250px;
    max-width: 800px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #19559F;
    text-align: center;
    margin: auto;
    z-index: 2; }
@media (min-width: 700px) {
  .homepage .banner {
    height: 380px;
    background-image: url("../images/home-banner.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto; }
    .homepage .banner img {
      display: none; } }
@media (min-width: 950px) {
  .homepage .banner {
    height: 500px; } }
.homepage main h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  color: white;
  background-color: #19559F;
  padding-top: 25px;
  height: 80px; }
.homepage main p {
  font-family: "Amiko", sans-serif;
  line-height: 1.5em; }
.homepage .news {
  text-align: center;
  font-size: 16px;
  margin: auto; }
  .homepage .news p {
    margin: 10px auto 25px auto;
    max-width: 450px; }
  .homepage .news a {
    text-decoration: none;
    font-family: "Amiko", sans-serif;
    color: white;
    padding: 8px 15px;
    background-color: #19559F; }
  .homepage .news img {
    padding: 10px 0;
    width: 100%;
    max-width: 400px;
    margin: auto; }
.homepage .menu-row {
  margin-top: 30px;
  text-align: center; }
  .homepage .menu-row .menu-box {
    position: relative; }
  .homepage .menu-row img {
    margin-top: 10px;
    width: 100%;
    z-index: 2; }
  .homepage .menu-row .menu h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100px;
    font-size: 25px;
    padding-top: 30px; }
@media (min-width: 580px) {
  .homepage .banner p {
    top: 55%;
    left: 50%; } }
@media (min-width: 650px) {
  .homepage .menu-flex {
    display: flex; }
  .homepage .menu-box:not(:last-child) {
    margin-right: 10px; } }
@media (min-width: 1000px) {
  .homepage .wrapper {
    padding-top: 135px;
    padding-bottom: 80px; } }

.menu-page body, .reservations-page body {
  background-color: #19559F; }
.menu-page header, .reservations-page header {
  font-family: "Montserrat", sans-serif; }
.menu-page img, .reservations-page img {
  width: 90%;
  margin: 0 auto;
  display: block; }
.menu-page .wrapper, .reservations-page .wrapper {
  background-color: white;
  color: #19559F;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  animation: fadeIn ease 2s, mymove 5s infinite;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s; }
  .menu-page .wrapper h1, .reservations-page .wrapper h1 {
    padding-top: 100px;
    padding-bottom: 24px; }
  .menu-page .wrapper p, .reservations-page .wrapper p {
    padding: 15px; }
  .menu-page .wrapper img, .reservations-page .wrapper img {
    padding-top: 20px;
    padding-bottom: 20px; }
.menu-page ul, .reservations-page ul {
  padding: 0; }
.menu-page li, .reservations-page li {
  text-align: center; }
.menu-page li p, .reservations-page li p {
  font-size: 14px; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.menu-page .wrapper h1, .menu-page h2, .reservations-page .wrapper h1, .reservations-page h2 {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center; }
.menu-page .wrapper li, .menu-page p, .reservations-page .wrapper li, .reservations-page p {
  font-family: "Amiko", sans-serif; }
.menu-page td:first-child::after, .reservations-page td:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 1500px;
  height: 0px;
  margin-left: 1em;
  border-bottom: 2px dotted grey; }
.menu-page .wrapper li, .reservations-page .wrapper li {
  list-style: none; }
@media (min-width: 600px) {
  .menu-page .menu-page .wrapper, .menu-page .reservations-page .wrapper, .reservations-page .menu-page .wrapper, .reservations-page .reservations-page .wrapper {
    width: 70%;
    padding: 30px; }
    .menu-page .menu-page .wrapper h1, .menu-page .reservations-page .wrapper h1, .reservations-page .menu-page .wrapper h1, .reservations-page .reservations-page .wrapper h1 {
      padding-top: 90px; }
    .menu-page .menu-page .wrapper img, .menu-page .reservations-page .wrapper img, .reservations-page .menu-page .wrapper img, .reservations-page .reservations-page .wrapper img {
      width: 30%;
      padding-top: 10px;
      padding-bottom: 10px; } }
@media (min-width: 900px) {
  .menu-page img, .reservations-page img {
    width: 32.5%;
    margin: 0 auto;
    display: inline-flex;
    flex: 1; }
  .menu-page .wrapper, .reservations-page .wrapper {
    width: 70%;
    margin: 0 auto; }
  .menu-page .desserts, .reservations-page .desserts {
    padding-top: 20px;
    column-count: 2; } }

.about {
  text-align: center; }
  .about .banner {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-top: 89px;
    z-index: 1;
    height: 100%; }
    .about .banner img {
      width: 100%; }
    .about .banner h1 {
      margin: 100px; }
  .about h1, .about h3 {
    font-family: "Montserrat", sans-serif; }
  .about h2 {
    font-family: "Alegreya Sans", sans-serif; }
  .about p {
    font-family: "Amiko", sans-serif; }
  .about main {
    padding: 20px 10px;
    max-width: 1000px;
    margin: auto; }
  .about .about {
    margin-bottom: 50px; }
    .about .about h1 {
      margin-bottom: 50px; }
  .about .mission {
    margin-bottom: 50px; }
    .about .mission h3 {
      margin: 50px; }
  .about .welcome p {
    margin-bottom: 20px; }
  .about .staff {
    margin-bottom: 50px; }
    .about .staff p {
      padding-top: 20px; }
  .about .social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px; }
  @media (min-width: 500px) {
    .about .row-1, .about .row-2 {
      display: flex; }
    .about .row-1 article, .about .row-2 article {
      margin: 10px; } }
  @media (min-width: 1000px) {
    .about .staff {
      display: flex; }
    .about .row-1 article, .about .row-2 article {
      padding-left: 10px;
      padding-right: 10px; }
    .about h3 {
      margin: 0;
      margin-top: 10px; } }

.reservations-page .submit, .menu-page .submit {
  font-family: "Amiko", sans-serif;
  border: none;
  color: white;
  background-color: #19559F;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 10px 30px;
  margin-bottom: 30px; }
.reservations-page form, .menu-page form {
  background-color: white;
  color: #19559F;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 20px;
  font-family: "Amiko", sans-serif;
  line-height: 40px;
  animation: fadeIn ease 2s, mymove 5s infinite;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s; }
.reservations-page ul, .reservations-page li, .menu-page ul, .menu-page li {
  padding: 0;
  margin: 0 auto; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.reservations-page header, .reservations-page h1, .menu-page header, .menu-page h1 {
  font-family: "Montserrat", sans-serif; }
.reservations-page form h1, .menu-page form h1 {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center; }
.reservations-page form li, .menu-page form li {
  list-style: none; }
.reservations-page p, .menu-page p {
  text-align: center; }
.reservations-page .name, .reservations-page .quantity, .menu-page .name, .menu-page .quantity {
  font-family: "Amiko", sans-serif;
  margin-left: 10px; }
.reservations-page input[type=text]:focus, .menu-page input[type=text]:focus {
  border: 2px solid #19559F;
  border-radius: 4px; }
.reservations-page input[type=number]:focus, .menu-page input[type=number]:focus {
  border: 2px solid #19559F;
  border-radius: 4px; }
.reservations-page .name, .menu-page .name {
  width: 80%; }
@media (min-width: 600px) {
  .reservations-page form, .menu-page form {
    line-height: 40px;
    padding: 10px;
    margin: 0 auto; }
  .reservations-page .name, .menu-page .name {
    width: 50%; } }
@media (min-width: 900px) {
  .reservations-page .wrapper, .menu-page .wrapper {
    padding-top: 60px; } }

/*# sourceMappingURL=styles.css.map */
